@model IEnumerable<PassionProject_n01492913.Models.CategoryDto>
@{
    ViewBag.Title = "Add Product";
}

<a href="/Product/List">Back to Products</a>
<h2>Add Product</h2>

<form action="/Product/Create" method="POST">
    <div>
        <label>Name: </label>
        <input name="ProductName" type="text" />
    </div>
    <div>
        <label>Price: </label>
        <input name="ProductPrice" type="number" step=".01" />
    </div>
    <fieldset>
        <label>Category: </label>
        <select name="CategoryID">
            <option value="" selected="true" disabled="disabled">Pick a Category</option>
            @foreach (var category in Model)
            {
                <option value="@category.CategoryID">@category.CategoryName</option>
            }
        </select>
    </fieldset>
    <div>
        <input type="submit" value="Add Product"/>
    </div>
</form>

