@model PassionProject_n01492913.Models.ViewModels.DetailsCategory
@{
    ViewBag.Title = "Details";
}

<a href="/Category/List">Back to Categories</a>
<br />
<a href="/Category/Edit/@Model.SelectedCategory.CategoryID">Update</a>
<br />
<!-- <a style="color:#ab2020;" href="/Category/DeleteConfirm/@Model.SelectedCategory.CategoryID">Delete</a> -->
<h2>@Model.SelectedCategory.CategoryName</h2>

<div>
    @foreach (var product in Model.CategorizedProducts)
    {
        <h3><a href="/Product/Details/@product.ProductID">@product.ProductName</a></h3>
        <div>
            @{
                string imageurl = "/Content/Images/Products/default.jpg";
                if (product.ProductHasPic)
                {
                    imageurl = "/Content/Images/Products/" + product.ProductID + "." + product.PicExtension;
                }
            }
            <img style="display:block; max-width:100%;" alt="@product.ProductName" src="@imageurl" />
        </div>
        <div>$@product.ProductPrice</div>
    }
</div>

