@model IEnumerable<PassionProject_n01492913.Models.CategoryDto>
@{
    ViewBag.Title = "Categories";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Product Categories</h1>
    <a href="/Category/New">Add New Category</a>
</div>

@foreach (var category in Model)
{
    <h2 class="h3"><a href="/Category/Details/@category.CategoryID">@category.CategoryName</a></h2>
}

