@model IEnumerable<PassionProject_n01492913.Models.CategoryDto>
@{
    ViewBag.Title = "Categories";
}

<h1>Product Categories</h1>
<a href="/Category/New">Add New Category</a>

@foreach (var category in Model)
{
    <h2 class="h3"><a href="/Category/Details/@category.CategoryID">@category.CategoryName</a></h2>
}

