@model PassionProject_n01492913.Models.WishlistDto
@{
    ViewBag.Title = "View";
}

<a href="/Wishlist/List">Back to Your Wishlists</a>
<h2>@Model.WishlistName</h2>
<div>Wishlist ID: @Model.WishlistID</div>

