
@{
    ViewBag.Title = "Create Wishlist";
}

<a href="/Wishlist/List">Back to Your Wishlists</a>
<h2>Create Wishlist</h2>
<form action="/Wishlist/Create" method="POST">
    <div>
        <label>Wishlist Name: </label>
        <input name="WishlistName"/>
    </div>
    <div>
        <input type="submit" value="Add Wishlist" />
    </div>
</form>

