@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Electro</h1>
    <p class="lead">We sell electronic products.</p>
    <p><a href="/Product/List" class="btn btn-primary btn-lg">Browse &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Headphone</h2>
        <p>We sell headphones.</p>
        <p><a class="btn btn-default" href="/Category/Details/1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sound Bar</h2>
        <p>We sell sound bars.</p>
        <p><a class="btn btn-default" href="/Category/Details/2">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Console</h2>
        <p>We sell game consoles.</p>
        <p><a class="btn btn-default" href="/Category/Details/6">Learn more &raquo;</a></p>
    </div>
</div>